//-
  /// @author Aaron Benton
  /// @name view.layout.content
  /// @type view
  /// @description Includes the main content and defines a content block
main(
  class="docs-s-content docs-o-wrapper" 
  itemscope itemtype="http://schema.org/WebPageElement" itemprop="mainContentOfPage" 
  role="main"
)
  block content